body {
    background-image: url('../img/Pattern.png');        
    background-color: #7EAAB6;
}

#logo-section{
    margin-top:150px;

    }

#logo{
    height:100%;
}    
 
 #instruct-section{
    margin-top:10px;
    height:auto;
    }

#instruct-photo{
    width: 90%;
    height:100%;
    margin-left: auto;
    margin-right: auto; 
}
#inputMsg{
    
    font-size: 18px;  
    display:block;
        position: relative;
        top:10px;
        margin-left: auto;
        margin-right: auto; 
        width:70%;  
        border-radius: 5px;  
    }
#rangefinder{
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:20px;
    background: transparent;
    border: none !important;
    

}

#submit-button
{
   
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: 70%;
}