body{   
    background-image: url('../img/TextBoardBG.png'); 
    background-repeat: no-repeat;     
    background-color: white;
    width:fit-content;
    background-size: cover;
}
#createjscontainer{
    outline-style: dotted;

    position: absolute;
    top:180px; 
    right: 20px; 
    bottom: 90px; 
    left: 20px;    
}
#demoCanvas{
    position: absolute;
    top:0px; 
    right:0px; 
    bottom: 0px; 
    left: 0px;  
}