body{   
    background-image: url('../img/TextBoardBG.png'); 
    background-repeat: no-repeat;     
    background-color: white;
    width:fit-content;
    background-size: cover;
}
#demoCanvas{
    


}
